[submodule "shared"]
	path = shared
	url = https://github.com/MamangRust/monolith-point-of-sale-shared.git
[submodule "pkg"]
	path = pkg
	url = https://github.com/MamangRust/monolith-point-of-sale-pkg.git
